 @use './partials/variable' as *;
@use './partials/mixins' as *;

section {
  display: block;
}
body {
  line-height: 1;

}











.about {
  background-color: $white;
  margin: 1rem;
  @include tablet {
    margin: 2.25rem;
  }
  @include desktop {
    width: 80rem;
    margin-inline: auto;
  }

  &__heading {
    color: $bandsite-black;
    @include m-section-header;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    @include tablet {
      margin-top: 3rem;
      margin-bottom: 2.25rem;
      @include dt-section-header;
    }
    @include desktop {
      margin-inline: 2.25rem;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__body-section {
    @include tablet {
      margin: 0 4rem;
    }
    @include desktop {
      margin-inline: 6.75rem;
    }
  }

  &__body-text {
    @include tablet {
      column-count: 2;
      column-gap: 2.25rem;
    }
  }

  &__body {
    color: $bandsite-black;
    @include m-body;
    margin: 1rem 0;
    @include tablet {
      @include dt-body;
      margin-top: 0;
    }
  }

  &__quote {
    @include m-subheader;
    @include tablet {
      @include dt-subheader;
      margin-top: 1rem;
    }
    @include desktop {
      width: 70%;
    }
  }

  &__quote-author {
    @include m-body;
    @include tablet {
      @include dt-body;
      font-weight: 600;
    }
  }

  &__subheading {
    @include m-subheader;
    @include tablet {
      @include dt-subheader;
    }
  }
}

.gallery {
  display: flex;
  
  background-color: $alabaster;
  margin: 1rem 0;
  @include tablet {
    margin: 2.25rem 0;
  }
  @include desktop {
    padding-bottom: 3rem;
  }

  &__wrapper {
    @include desktop {
      width: 80rem;
      margin-inline: auto;
    }
  }

  &__header {
    padding: 1.5rem 1rem 1rem 1rem;
    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
  }

  &__heading {
    @include m-section-header;
    @include tablet {
      @include dt-section-header;
    }
    @include desktop {
      margin-inline: 2.25rem;
    }
  }

  &__img-section {
    padding: auto;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    background-color: $alabaster;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.125rem;
      margin: 0 1rem 2.25rem 1rem;
    }
    @include desktop {
      margin-inline: 2.25rem;
    }
  }

  &__img {
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
    transition: filter 0.375s, transform 0.5s, border-radius 0.5s;
    @include tablet {
      width: 30%;
      margin: 0;
    }

    &:hover {
      filter: brightness(80%);
      transform: scale(1.03);
      border-radius: 0.5rem;
    }
  }
}


//body-Start

.blank-space {
  height: 4.875rem;

  @include tablet {
    height: 4.4375rem;
  }
}










.copy {
  @include tablet {
    margin-left: 2.25rem;
  }

  &__logo-section {
    margin-top: 3rem;
  }

  &__logo {
    color: $white;
    @include tablet {
      display: none;
    }
  }

  &__message {
    color: $white;
    @include m-footer;
    @include tablet {
      // @include dt-footer;
    }
  }
}






.comments {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: $bandsite-black;

  @include tablet {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 3rem;
  }

  @include desktop {
    padding-left: 7.9rem;
    padding-right: 7.9rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0.5rem;

    @include tablet {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }

  &__box {
    display: flex;
    gap: 1rem;

    @include tablet {
      justify-content: center;
      padding-bottom: 2rem;
    }
  }

  &__avatar {
    padding-top: 2rem;
  }

  &__image {
    width: 36px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;

    @include tablet {
      width: 50px;
      height: 49px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    @include tablet {
      max-width: 80%;
    }

    @include desktop {
      max-width: 40%;
    }
  }

  &__label {
    color: silver;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;

    @include tablet {
      font-size: 0.7rem;
    }
  }

  &__text {
    background-color: $alabaster;
    border: solid $mercury;
    border-radius: 5px;
    padding: 0.5rem;

    @include tablet {
      height: 6.2rem;
    }
  }

  &__text--tablet {
    @include tablet {
      height: 3.2rem;
    }
  }

  &__btn {
    background-color: $bandsite-black;
    color: $white;

    height: 2.3rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;

    @include tablet {
      padding: 0.7rem 2.5rem;
      margin-left: auto;
      height: 2.6rem;
      width: 30%;
      font-size: 1rem;
    }

    @include desktop {
      left: 15.7rem;
      width: 40%;
      top: 0.5rem;
      margin-bottom: 0;
      height: 2.6rem;
    }
  }
}

::placeholder {
  color: $bandsite-black;

  @include tablet {
    padding-left: 0.3rem;
  }
}

.opinions {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;

  @include tablet {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    margin-bottom: 2rem;
  }

  @include desktop {
    padding-left: 25rem;
    padding-right: 25rem;
  }

  &__list {
    list-style: none;
    border-top: 1px solid $mercury;
  }

  &__item {
    border-bottom: 1px solid $mercury;
  }

  &__box {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__image {
    width: 36px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    background-color: $mercury;

    @include tablet {
      width: 50px;
      height: 49px;
    }
  }

  &__image--indefined {
    width: 36px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    background-color: $mercury;

    @include tablet {
      width: 50px;
      height: 49px;
      border-radius: 50%;
      object-fit: cover;
      object-position: left;
    }
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-weight: 600;
    color: $bandsite-black;
  }

  &__date {
    font-weight: 400;
    color: $silver;
  }

  &__text {
    font-weight: 400;
    line-height: 1.1rem;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 0.9rem;
      line-height: 1.4rem;
      padding-bottom: 2rem;
    }
  }
}


