@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url(../.././assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
section {
  display: block;
}

body {
  line-height: 1;
}

* {
  font-family: Avenir;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #323232;
  width: 100%;
  position: fixed;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .header__wrapper {
    flex-direction: row;
    width: 80rem;
    margin-inline: auto;
  }
}
.header__logo {
  display: flex;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .header__logo {
    margin: 1rem 2rem;
  }
}
.header__logo-img {
  margin: 0;
}

.header__nav {
  width: 100%;
}

@media (min-width: 768px) {
  .header__nav {
    width: auto;
    margin: 0 1.5rem;
    height: 71px;
  }
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  margin: 0;
}

@media (min-width: 768px) {
  .header__nav-list {
    height: 4.4375rem;
  }
}
.header__nav-item {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .header__nav-item {
    margin: 1.25rem 1rem 0rem 1rem;
  }
}
.header__nav-link {
  height: 2.4375rem;
  width: 8.125rem;
  text-decoration: none;
  color: #e1e1e1;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 400;
}

.header__nav-link:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.header__nav-item--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 700;
}

.header__nav-item--inactive {
  font-weight: 400;
}

.header__nav-item--inactive:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 700;
} 
.schedule {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .schedule {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1024px) {
  .schedule {
    display: flex;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: 1.7rem;
  }
}
.schedule__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.7rem;
  padding-top: 1rem;
  line-height: 0.8rem;
}
@media (min-width: 768px) {
  .schedule__title {
    font-size: 2.2rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
}
@media (min-width: 1024px) {
  .schedule__title {
    color: #323232;
    flex: 1;
    font-size: 2.3rem;
  }
}
@media (min-width: 1024px) {
  .schedule__container {
    flex: 3;
    margin-top: 1.8rem;
  }
}
.schedule__main {
  color: #afafaf;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .schedule__main {
    display: none;
  }
}
.schedule__container--tablet {
  display: none;
}
@media (min-width: 768px) {
  .schedule__container--tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
  }
}
.schedule__main--tablet {
  color: #afafaf;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 23%;
}
.schedule__secondary {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.7rem;
  width: 160px;
}
@media (min-width: 768px) {
  .schedule__secondary {
    font-size: 0.9rem;
  }
}
.schedule__secondary--bold {
  font-size: 0.8rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .schedule__secondary--bold {
    font-size: 0.9rem;
  }
}
.schedule__item {
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .schedule__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.schedule__item:hover {
  background-color: #fafafa;
}
.schedule__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .schedule__info {
    flex-direction: row;
    align-items: baseline;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
  }
}
.schedule__btn {
  background-color: #323232;
  color: #ffffff;
  width: 98%;
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .schedule__btn {
    width: 23%;
  }
}

.selected {
  background-color: #e1e1e1;
}
.selected:hover {
  background-color: #e1e1e1;
}

.dummy {
  width: 24%;
}/*# sourceMappingURL=shows.css.map */